.main-div-home {
    min-height: 100%;
    width: 100%;
}

.hero-section-home {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.fulboapp-logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}